1)	What are data structures, and why are they important?
- Data structures are ways to organize and store data in a computer. They are important because they help make it easier to access, retrieve, and update data. Data structures are used in many programs and software systems.
- Why are data structures important?
  -> Problem solving: Data structures help you approach problems systematically and come up with efficient solutions.
  -> Code reusability: Well-designed data structures can be used across multiple projects, which can save time and effort.
  -> Program performance: Understanding data structures and algorithms (DSA) can help you write programs that run faster or use less memory.
- Common data structures
  - Arrays: A collection of data items of the same type, stored together in memory
  - Linked lists: A collection of objects connected in a linear order
  - Stacks: A linear data structure that follows the Last-In-First-Out (LIFO) principle
  - Queues: A linear data structure that follows the First-In-First-Out (FIFO) principle
  - Trees: A hierarchical structure with root and child nodes
  - Hash tables: A data structure that stores keys/value pairs
DSA is a core part of computer science education. It provides the fundamental principles that support many advanced topics in the field.

2) Explain the difference between mutable and immutable data types with examples.
- In mutable, The objects can be modified after the creation as well. But immutable data type, Objects cannot be modified after the creation of the objects.
- Classes that are mutable are not considered final. 	Classes that are immutable are considered final.
- In mutable, Thread unsafe. But immutable data type, Thread safe.
- In mutable, Classes are not made final for the mutable objects.	Ex: Lists, Dicts, Sets, User-defined classes, Dictionaries etc. But immutable data type, Classes are made final for the immutable objects.
Ex: int, float, bool, string, Unicode, tuple, Numbers etc.

3) What are the main differences between lists and tuples in Python?
- Mutability:	Mutable, meaning they can be changed Immutable meaning they cannot be changed.
- Length:	Dynamic length.	Fixed length after definition.
- Memory efficiency:	Uses more memory than tuples.	Uses less memory than lists.
- Speed	Slower than tuples	Faster than lists.
- Syntax:	Uses square brackets.	Uses round brackets or parentheses.

4) Describe how dictionaries store data?
- A Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can not be repeated and must be immutable.
Example: Here, The data is stored in key:value pairs in dictionaries, which makes it easier to find values.
d = {1: 'Hello', 2: 'Good', 3: 'Morning'}
print(d)
Output
{1: 'Hello', 2: 'Good', 3: 'Morning'}

5) Why might you use a set instead of a list in Python?
- The Python sets are highly useful to efficiently remove duplicate values from a collection like a list and to perform common math operations like unions and intersections.

6) What is a string in Python, and how is it different from a list?
- In Python, a string is a sequence of characters, while a list is a sequence of values. Strings are immutable, meaning they cannot be changed after they are created. Lists are mutable, meaning they can be changed after they are created.
  - Definition: In String, Sequence of characters.In List, Sequence of values.
  - Mutability: In string, Immutable and in lists, Mutable.
  - Contents:In strings,Characters (strings). But in lists, It can contain
  mixed data types
  - Representation:In string, Enclosed in quotes ('' or “”). But in list,
  Enclosed in square brackets.
  - We can use the built-in len() function to find the length of a string or list.

7) How do tuples ensure data integrity in Python?
- Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

8) What is a hash table, and how does it relate to dictionaries in Python?
- In Python, a hash table is a data structure that's implemented using dictionaries. Hash tables are a way to organize data into key-value pairs, which makes it easy to find and update information.
- How do hash tables work?
   -> A hash function generates a unique index for each key-value pair.
   -> The index points to the location of the value in an array.
   -> This allows for quick access to the value associated with a key.
- How do hash tables relate to dictionaries in Python?
   -> Python dictionaries are a built-in data type that use hash tables to store and access data.
   -> The keys in a Python dictionary are hashable, which means they can be used as inputs to a hash function.
   -> The hash function generates a unique index for each key, which allows the dictionary to quickly find and update the associated value.

9) Can lists contain different data types in Python?
- Lists can contain items of different types at the same time (including strings, integers, floating point numbers and boolean values). Lists are mutable and dynamic; list items can be added, removed or changed after the list is defined.

10) Explain why strings are immutable in Python?
- Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc. The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

11) What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are better than lists for tasks that involve frequent lookups or searches because they are faster. Dictionaries are also more flexible and memory efficient than lists.
- Advantages of dictionaries
  - Fast lookups: Dictionaries use a hash table to store key-value pairs, which allows for quick lookups.
  - Flexible: Dictionaries can store any type of data as both the key and the value.
  - Memory efficient: Dictionaries only store the key-value pairs that are needed.
  - Well-suited for complex data: Dictionaries can store complex data structures such as graphs and databases.

12) Describe a scenario where using a tuple would be preferable over a list.
- The advantages of tuples over the lists are as follows: Tuples are faster than lists. Tuples make the code safe from any accidental modification. If a data is needed in a program which is not supposed to be changed, then it is better to put it in 'tuples' than in 'list'.

13) How do sets handle duplicate values in Python?
- Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

14) How does the “in” keyword work differently for lists and dictionaries?
- The in and not in operator works on dictionaries; it tells you whether something appears or not as a key in the dictionary. It returns two values True or False.
- The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm. As the list gets longer, the search time gets longer in direct proportion. For dictionaries, Python uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary.

15) Can you modify the elements of a tuple? Explain why or why not?
- No, we cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed.
- Explanation
  - Tuples are similar to lists, but unlike lists, tuples are immutable.
  - Tuples are more memory-efficient compared to lists.
  - If we attempt to alter a tuple element, you will receive a TypeError error.
  - However, if the element is a changeable data type, such as a list, its nested components can be altered.
  - We can concatenate 2 or more tuples to form a new tuple.
  - We can convert the tuple into a list, change the list, and convert the list back into a tuple.
  Example
   If we try to modify one of the elements of the tuple, we get an error.

In [ ]:
t = ('a', 'b', 'c', 'd', 'e') t[0] = 'A' print(t) #TypeError: object doesn't support item assignment

16) What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary that is stored within another dictionary. It's a way to organize data into multiple layers.
- Example
  - An organizational chart can be represented using a nested dictionary, where departments are keys and the values are dictionaries of employees in each department.
  - An inventory system can use a nested dictionary to track product categories, subcategories, and individual products.

17) Describe the time complexity of accessing elements in a dictionary.
- The time complexity of accessing an element in a dictionary is typically O(1), which means it takes constant time to search for a value. However, the time complexity can degrade to O(n) in the worst case.
- Explanation
  - The time complexity of dictionary operations depends on the size of the dictionary and the specific operation.
  - The worst-case complexity occurs when all elements are in a single hash bucket.
  - Hash collisions in dictionaries can degrade O(1) operations to O(n).

18) In what situations are lists preferred over dictionaries?
- For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19) Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because they don't maintain the order in which items are added. This is because dictionaries are optimized for fast lookups based on keys.
- Explanation
  - In older versions of Python (before 3.7), dictionaries didn't preserve the order of items.
  - In Python 3.7 and later, dictionaries retain the order of items, but they are still called "unordered".
  - Dictionaries are unordered because they are not intended to be used as ordered collections like lists or tuples.
  - Dictionaries are optimized for fast storage and recovery based on key.
  - Dictionaries are a data structure that holds key-value pairs.
  - Dictionaries are mutable, meaning you can change the key-value pair after creating the dictionary.
  - How does this affect data retrieval?
    - Because dictionaries are unordered, we can't refer to an item by using an index.
 - When we loop through a dictionary, we will go through every key, but we are not guaranteed to get them in any particular order.

20) Explain the difference between a list and a dictionary in terms of data retrieval?
- In Python, lists are accessed using indices, while dictionaries are accessed using keys. Lists are faster for ordered operations, while dictionaries are faster for lookups.
- In List, Data structure is Ordered collection of items.
- In List, Access is use indices to access elements.
- In List, Use case is Good for ordered collections, like sequences of user actions.
- In List, Speed is Slower for large datasets.
- In Dictionary, Data structure is Unordered collection of key-value pairs.
- In Dictionary, Use keys to access elements.
- In Dictionary, Good for quick lookups, like mapping usernames to user data.
- In Dictionary, Speed is Faster for lookups.


**Practical Questions**

1) Write a code to create a string with your name and print it.

In [ ]:
# create string type variables

name = "Nivedita"
print(name)

Nivedita

2) Write a code to find the length of the string "Hello World".

In [ ]:
a = "Hello World"
print(len(a))

11

3) Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
s = "Hi, Bhubaneswar!"

# Slice string from index 0 to index 5 (exclusive)
s2 = s[0:2]

print(s2)

Hi

4) Write a code to convert the string "hello" to uppercase.

In [ ]:
s = "learn python!"
res = s.upper()
print(res)

LEARN PYTHON!

5) Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
 a = 'I like apple.'
# Replace only the first occurrence of 'apples'
 b = a .replace('apple', 'orange', 1)
 print(b)

I like orange.

6) Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
number = 1

while number <= 5:
     print (number)
     number += 1

1
2
3
4
5

7) Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
num_list = [1, 2, 3, 4]

print(f'Current Numbers in List {num_list}')

num_list.append(10)

print(f'Updated Numbers in list {num_list}')

Current Numbers in List [1, 2, 3, 4]
Updated Numbers in list [1, 2, 3, 4, 10]

8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
num_list = [1, 2, 3, 4,5]

print(f'Current Numbers in List {num_list}')

num_list.remove(3)

print(f'Updated Numbers in list {num_list}')

Current Numbers in List [1, 2, 3, 4, 5]
Updated Numbers in list [1, 2, 4, 5]

9) Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
n=['a', 'b', 'c', 'd']

# List of indexes to access
p = n[1]

print(p)

b

10) Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
a = [10, 20, 30, 40, 50]

# Reverse the list in-place
a.reverse()
print(a)

[50, 40, 30, 20, 10]

11) Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t = (100, 200, 300)

# Use the 'format' method to insert the tuple 't' into the string and print the result
print('This is a tuple {0}'.format(t))

This is a tuple (100, 200, 300)

12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Create a list called 'color_list' containing color names
color_list = ['red', 'green', 'blue', 'yellow']
# Print the first and last elements of the 'color_list' using string formatting
# The '%s' placeholders are filled with the values of 'color_list[0]' (Red) and 'color_list[-1]' (Black)
print("%s %s %s" % (color_list[1], color_list[2], color_list[-1]))

green blue yellow

13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# Creating tuples
Tuple = (10, 20, 5, 15)

res = min(Tuple)
print('Minimum of Tuple is', res)

Minimum of Tuple is 5

14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ['dog', 'cat', 'rabbit']

# get the index of 'cat'
index = animals.index('cat')

print(index)

1

15)  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
thistuple = ("apple", "banana", "cherry", "kiwi")
if "kiwi" in thistuple:
  print("Yes, 'kiwi' is in the fruits tuple")

Yes, 'kiwi' is in the fruits tuple

16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [2]:
My_Set={1,'n',2.3}
print(My_Set)

{1, 2.3, 'n'}

17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [7]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18)  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [8]:
# initializing set
test_set = {1, 2, 3, 4}

# printing original set
print("The original set is : " + str(test_set))

# initializing remove elements
rem_ele = [4]

# using "-" operator to remove multiple elements
res = test_set - set(rem_ele)

# printing result
print("Set after removal : " + str(res))

The original set is : {1, 2, 3, 4}
Set after removal : {1, 2, 3}

19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [9]:
A = {1, 2, 3}
B = {3, 4, 5}

print("A U B:", A.union(B))

A U B: {1, 2, 3, 4, 5}

20)  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [10]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

21)  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [13]:
sample_dict = {'name': 'Pinu', 'age': 32, 'city': 'Bhubaneswar'}

# Using the keys() method
keys_list = list(sample_dict.keys())

# Printing the keys
print(keys_list)

['name', 'age', 'city']

22)  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [19]:
my_dict = { 'name': 'John', 'age': 25 }
# Add a new key-value pair
my_dict['country'] = 'USA'
# The dictionary now contains the new key-value pair
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
my_dict = {'name': 'Alice', 'age': 30 }

values_of_interest = [my_dict[key] for key in ['name']]

print(values_of_interest)

['Alice']

24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [26]:
my_dict = { 'name': 'Bob', 'age': 22, 'city': 'New York' }

del my_dict['age']

print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [32]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

if "city" in my_dict:
    print("Key exists.")
else:
    print("Key does not exist.")

Key exists.

26)  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [40]:
# Create a list
list = [1, 2, 3, 4, 5]
print("List is:", list)

# Create a tuple
numbers = (1, 2, -5)
print("Tuple is:", numbers)

#Create a dictionary
d = dict(a=1, b=2, c=3)
print("The dictionary is:", d)

List is: [1, 2, 3, 4, 5]
Tuple is: (1, 2, -5)
The dictionary is: {'a': 1, 'b': 2, 'c': 3}

27) Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [45]:
import random

# Generate a list of unique random numbers
n = 5  # Number of random numbers
li = random.sample(range(1, 101), n)

print("List of 5 random mumbers between 1 and 100:", li)

# sort it in ascending order
li.sort()
print("The ascending order list:",li)

List of 5 random mumbers between 1 and 100: [17, 90, 62, 83, 66]
The ascending order list: [17, 62, 66, 83, 90]

28) Write a code to create a list with strings and print the element at the third index.

In [57]:
# List of strings
b = ['apple', 'banana', 'cherry']
print("List with strings:",b)
# The element at the third index
print("The element at the third index:",b[2])

List with strings: ['apple', 'banana', 'cherry']
The element at the third index: cherry

29) Write a code to combine two dictionaries into one and print the result.

In [59]:
dict1 = {1: 'One', 2: 'Two', 3: 'Three'}
dict2 = {3: 'Zero', 4: 'Four'}

print('Combined dictionary:', dict1|dict2)

Combined dictionary: {1: 'One', 2: 'Two', 3: 'Zero', 4: 'Four'}

30)  Write a code to convert a list of strings into a set.

In [61]:
s = "Hello Python"

print(type(s))
print(s)

# Convert String to Set
set_s = set(s)

print(type(set_s))
print(set_s)

<class 'str'>
Hello Python
<class 'set'>
{'t', 'o', 'n', 'l', ' ', 'P', 'e', 'y', 'h', 'H'}